<?xml version="1.0" encoding="UTF-8"?>

<plugin>
<!--   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution1"
            nameFilter="*.xls"
            objectClass="org.eclipse.core.resources.IFile">
            <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>                  <action
               class="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
               id="nu.mine.kino.plugin.beangenerator.actions.JavaBeansReaderGeneratorAction"
               label="JavaBeansリーダの生成"
               menubarPath="beangenerator/additions">
         </action>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
               id="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
               label="JavaBeansの生成"
               menubarPath="beangenerator/additions">
         </action>

      </objectContribution>
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution2"
            objectClass="org.eclipse.core.resources.IResource">
      <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
               id="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction1"
               label="JavaBeans用Excelを作成"
               menubarPath="beangenerator/additions">
         </action>

      </objectContribution>
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution3"
            objectClass="org.eclipse.jdt.core.IJavaProject"> 
                 <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
               id="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction2"
               label="JavaBeans用Excelを作成" menubarPath="beangenerator/additions">
         </action>
      </objectContribution>
   </extension>
  -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
            name="JavaBeansの生成">
      </command>
      <command
            id="nu.mine.kino.plugin.beangenerator.actions.JavaBeansReaderGeneratorAction"
            name="JavaBeansリーダの生成">
      </command>
      <command
            id="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
            name="JavaBeans用Excelを作成">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nu.mine.kino.plugin.beangenerator.handlers.JavaBeansGeneratorHandler"
            commandId="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction">
      </handler>
      <handler
            class="nu.mine.kino.plugin.beangenerator.handlers.JavaBeansGeneratorHandler"
            commandId="nu.mine.kino.plugin.beangenerator.actions.JavaBeansReaderGeneratorAction">
      </handler>
      <handler
            class="nu.mine.kino.plugin.beangenerator.handlers.TemplateCreateHandler"
            commandId="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/page_excel.png"
               label="JavaBeans生成">
            <command
                  commandId="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
              <reference
                    definitionId="nu.mine.kino.plugin.beangenerator.commands.IFileCommandDefinition">
              </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="nu.mine.kino.plugin.beangenerator.actions.JavaBeansReaderGeneratorAction"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <reference
                        definitionId="nu.mine.kino.plugin.beangenerator.commands.IFileCommandDefinition">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <or>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                     </iterate>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="nu.mine.kino.plugin.beangenerator.commands.IFileCommandDefinition">
                             <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="xls">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
     </definition>
  </extension>
</plugin>
