<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution1"
            nameFilter="*.xls"
            objectClass="org.eclipse.core.resources.IFile">
            <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
               id="nu.mine.kino.plugin.beangenerator.actions.JavaBeansGeneratorAction"
               label="JavaBeansを生成する"
               menubarPath="beangenerator/additions">
         </action>
      </objectContribution>
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution2"
            objectClass="org.eclipse.core.resources.IResource">
      <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
               id="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction1"
               label="JavaBeans用Excelを作成"
               menubarPath="beangenerator/additions">
         </action>

      </objectContribution>
      <objectContribution
            id="nu.mine.kino.plugin.beangenerator.objectContribution3"
            objectClass="org.eclipse.jdt.core.IJavaProject"> 
                 <menu
            id="beangenerator"
            label="JavaBeans生成"
            path="additions">
      </menu>
         <action
               class="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction"
               id="nu.mine.kino.plugin.beangenerator.actions.TemplateCreateAction2"
               label="JavaBeans用Excelを作成" menubarPath="beangenerator/additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
