<?xml version="1.0" encoding="EUC-JP" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="file.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %-5p %c{2} - %m%n"/>
		</layout>
	</appender>

	<appender name="System.out" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>



	<logger name="org.springframework">
		<level value="Error" />
	</logger>

	<logger name="org.hibernate">
		<level value="error" />
	</logger>
	
	
	<logger name="nu.mine.kino">
		<level value="WARN" />
	</logger>
	
		
	
	<root>
		<level value="WARN" />
		<appender-ref ref="System.out" />
	</root>
</log4j:configuration>