/******************************************************************************
 * Copyright (c) 2008-2009 Masatomi KINO and others. 
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * Contributors:
 *      Masatomi KINO - initial API and implementation
 * $Id$
 ******************************************************************************/

package ${class.packageName};

/**
 * ${class.description}
 * @author Masatomi KINO and JavaBeans Creator Plug-in
 * @version $Revision$
 */
 
#if(${class.abstractt}=="Åõ")
public abstract class  ${class.className} ${class.addedInfo} {
#else
public class  ${class.className} ${class.addedInfo} {
#end
}