/******************************************************************************
 * Copyright (c) 2008 Masatomi KINO and others. 
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * Contributors:
 *      Masatomi KINO - initial API and implementation
 * $Id$
 ******************************************************************************/

package ${class.packageName};

/**
 * @author Masatomi KINO and JavaBeans Creator Plug-in
 * @version $Revision$
 */
@Sheet(name = "${class.className}")//$NON-NLS-1$
public class ${class.className}Sheet {
    private List<${class.className}> instanceList; // ホントは、インタフェースがいいな
    
	@HorizontalRecords(tableLabel = "${class.className}", recordClass = ${class.className}.class)//$NON-NLS-1$
    public void set${class.className}(List<${class.className}> instanceList) {//<>はホントはインタフェースがいいな
        this.instanceList = instanceList;
    }

    public List<${class.className}> get${class.className}() {//<>はホントはインタフェースがいいな
        return instanceList;
    }
	
	public static void main(String[] args) throws FileNotFoundException,
            XLSBeansException {
        InputStream in = new FileInputStream("${class.className}.xls");
        ${class.className}Sheet sheet = new XLSBeans().load(in, ${class.className}Sheet.class);
        List<${class.className}> instanceList = sheet
                .get${class.className}();
        for (${class.className} instance : instanceList) {
            System.out.println(instance);
        }
    }
	

}
