	/**
#if(${field.fieldNameJ}!="")
	 * ${field.fieldNameJ}をセットする。
#end
	 *
	 * @param ${field.fieldName} ${field.fieldNameJ}
	 */
#if(${field.customAnnotation}!="")
	${field.customAnnotation}	
#else
 #if(${field.annotation}=="○")
 	#if(${field.annotationName}!="")
		#if(${field.merge}=="○")
		@Column(columnName = "${field.annotationName}", merged = true) //$NON-NLS-1$
		#else
		@Column(columnName = "${field.annotationName}" ) //$NON-NLS-1$
		#end
	#else
		#if(${field.merge}=="○")
		@Column(columnName = "${field.fieldNameJ}", merged = true) //$NON-NLS-1$
		#else
		@Column(columnName = "${field.fieldNameJ}" ) //$NON-NLS-1$
		#end
	#end
 #end
#end
	public void set${cname}(${field.FieldType} ${field.fieldName}) {
		this.${field.fieldName} = ${field.fieldName};
	}

